<div class="cards-container">
    <div class="cards-form">
      <form #form="ngForm" (ngSubmit)="onSubmit()">
        <!-- <div class="form-group">
          <label for="">Book Name</label>
          <label [(ngModel)]="objpurchase.EmailId"></label>
        </div> -->
        <div class="form-group">
          <label for="">Email ID</label>
          <input type="email" name="emailID" [(ngModel)]="objpurchase.EmailId" (focusout)="onFocusOutEvent($event)">
        </div>
        <div class="form-group" style="margin: 17px;padding-left: 40px;">
          <button class="btn btn-success">Buy</button>
        </div>
      </form>
    </div>
  </div>
  <hr/>
  <div class="cards-grid" [ngStyle]="{'display':display}">
      <h5>Purchase History</h5>
    <div class="card-row" *ngFor="let book of bookHistoryList" style="border: 1px dotted black;">
      <div class="card-row-details" >
        <span>{{ book }}</span>
      </div>
    </div>
  </div>